.nunito-sans-font {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
      width: 80%;
      margin: auto;
      background-color: #fafafa;
  }

  .font-size{
    font-weight: 800;
    font-size: 30px;
    margin-top: 15px;
}
.display{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.button{
    margin-top: 15px;
    padding: 8px 13px;
    font-size: 15px;
    color: #006A50;
    border-radius: 5px;
    border: 1px solid #006A50;
    font-weight: bold;
}
.banner{
    background-color: #C6E4D6;
    height: 750px;
    border-radius: 45px;
    /* margin: 100px 180px; */
    display: flex;
}
.bd{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin: 60px;
 
}
.imgbd{
    width: 800px;
    height: 500px;
    margin: 105px 50px;
} 
.title{
font-size: 70px;
font-weight: 900;
margin-top: 0;
margin-bottom: 0;
line-height: 1.1;
}
.title-font{
font-size: 30px;
font-weight: 600;
color: #0E0E0E;
}
.btn{
    margin-top: 20px;
    padding: 17px 36px;
    border-radius: 6px;
    background-color: #006A50;
    color: white;
    font-weight: 600;
    border: none;
}
.backround{
    background-color: #F1F1F3;
    border-radius: 6px;
    height: 50px;
    
}
.skill-cointainer{
    display: flex;
    gap: 20px;
    font-size: 20px;
    gap: 20px;
}

.skill1{
    background-color: #d5e1f5;
    padding: 30px;
    border-radius: 10px;
}
.skill1 button{
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 10px;
    background-color: #5490F5;
    font-weight: 600;
}
.skill2{
    background-color: #c6e4d6;
    padding: 30px;
    border-radius: 10px;
}
.skill2 button{
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 10px;
    background-color: #09A15C;
    font-weight: 600;
}
.skill3{
    background-color: #f7ebcf;
    padding: 30px;
    border-radius: 10px;

}
.skill3 button{
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 10px;
    background-color: #FFC239;
    font-weight: 600;
}
.news-head{
    font-size: 45px;
    font-weight: 900;

}
.head-tittle h1{
    font-size: 35px;
    font-weight: 800;
}
.head-tittle1 h1{
    font-size: 35px;
    font-weight: 800;
}
.head-tittle2 h1{
    font-size: 35px;
    font-weight: 800;
}
.news-card{
    display: flex;
    gap: 35px;
    padding: 48px;
    background-color: #ffffff;
    border-radius: 40px;
    justify-items: center;
    margin-bottom: 20px;
}
.news-card button{
    background-color: #006a50;
    color: white;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
    padding: 14px 22px;
    border: none;
}
.news-card-img img{
    border-radius: 40px;
    height: 400px;
}
.donate-today h1{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}
.donate-today p{
    text-align: center;
    margin-left: 100px;
    width: 80%;

}
.tk-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.tk-btn button{
    padding: 26px 23px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 10px;
    transform: scale(1.1);
    background-color: white;
    border: 2px solid #F1F1F3;
    /* c6e4d6 */
}
.tk-btn button:hover{
    background-color: #c6e4d6;
}

.tittle-box{
    padding: 20px 30px;
    width: 990px;
    margin-left: 250px;
    height: 25px;
    background-color: white;
    border: 2px solid #F1F1F3;
}
.tittle-box::placeholder {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #ababb3;
}
.text-box{
    margin-top: 30px;
    border-radius: 20px;
}
.dn-btn-container{
    margin: auto;
    text-align: center;
}
.dn-btn{
    padding: 19px 45px;
    font-size: medium;
    font-weight: 700;
    border-radius: 7px;
    background-color: #006A50;
    color: white;
    border: none;
    margin-top: 20px;
}
.challenges-container{
    background-color: #C6E4D6;
    border-radius: 20px;
    height: 400px;
    align-content: center;
    margin-top: 20px;
}
.container-box{
    text-align: center;
}
.container-box p{
    width: 43%;
    margin-left: 400px;
}
.text-cont{
    text-align: center;
    margin: auto;
}
.text-cont input{
    padding: 19px 30px;
    width: 700px;
    margin-left: 0px;
    border-radius: 10px 0px 0px 10px;
    margin-right: -3px;
    border: none;

}
.text-cont button{
    padding: 18px 30px;
    margin-left: 0px;
    border-radius:  0px 10px 10px 0px;
    border: none;
    background-color: #006A50;
    font-weight: 700;
    color: white;
    font-size: 15px;
}
.paragrap{
    text-align: center;   
}
.Muhammad-Yunus{
    background-color: white;
    margin-top: 15px;
    border-radius: 15px;
    border: 2px solid #F1F1F3;
    height: 250px;
    margin-bottom: 15px;
}
.tattle-contin{
    margin-left: 50px;
    margin-top: 0px;
    background: url('/assets/quote-bg.png');
    background-repeat: no-repeat;
    margin-left: 30px;
}